@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

.control-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* cabeçalho */

header{
    display: flex;
    padding: 2vh 0;
    /* background-color: red; */
}

.header-control{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
}

.div-icon div{
    width: 30px;
}

.div-icon div svg{
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.div-icon h1{
    font-size: 1.6rem;
    font-weight: 700;
    color: #1e30f3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

nav a{
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    transition: .125s ease-in-out;
}

nav a:hover{
    color: rgba(0, 0, 0, 0.7);
}

/* main */
main{
    margin: 20px auto 0 auto;
    padding: 40px 0 100px 0;
    display: flex;
    gap: 3vw;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(248, 249, 250);
}
main h2{
    font-size: 3.5rem;
    background: linear-gradient(-315deg, #1e30f3 0%, #e21e80 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px #383b3f44;;
}
.div-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.card{
    background-color: #fff;
    box-shadow: 3px 3px 6px 2px #383b3f34;
    width: 70%;
    /* height: 18vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    border-radius: 12px;
    flex: 1 1 auto;
}
.card .texto{
    /* background-color: red; */
    width: calc(70% - 20px);
}
.card .texto h3{
    font-size: 2rem;
    margin-bottom: 15px;
}
.card .texto p{
    font-size: 1.25rem;
    line-height: 1.7rem;
    text-align: justify;
    padding-right: 20px;
}
.card .texto .link{
    display: flex;
    padding-top: 15px;
    gap: 15px;
}
.card .capa-projeto{
    /* background-color: #1e30f3; */
    width: 30%;
    height: 100%;
}

.capa-projeto a img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: .125s ease-in-out;
}

.capa-projeto a:hover img{
    opacity: .8;
}

footer{
    background: linear-gradient(-250deg, #1e30f3 0%, #e21e80 100%);
    padding: 100px 0;
}
footer div{
    text-align: center;
}
footer div h3{
    font-size: 4rem;
    color: #fff;
    margin-bottom: 50px;
}
footer div a{
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 17px 55px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    transition: .115s ease-in-out;
}
footer div a:hover{
    background-color: #fff;
    color: black;
}
/* botao */
.subir-topo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(-350deg, #1e30f3 0%, #e21e80 100%);
    box-shadow: 2px 2px 6px 1px #383b3f34;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    right: 50px;
    bottom: 50px;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    transition: .35s ease-in-out;
}

.subir-topo.active{
    opacity: 1;
    visibility: visible;
}
.subir-topo svg{
    width: 70%;
    fill: #fff;
    font-weight: bold;
}
.subir-topo:hover{
    transform: rotateZ(360deg);
}