html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .4rem;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(150deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 100vw;
}
::-webkit-scrollbar-track{
    /* background: -webkit-linear-gradient(150deg, #1e30f3 0%, #e21e80 100%); */
    margin-block: 5px;
}
@media screen and (max-width:1100px){
    main h2{
        font-size: 3.2rem !important;
    }
    .card .texto{
        width: 100%;
    }
    .card .texto h3{
        font-size: 2.5vw;
        padding-top: 20px;
    }
    .card .texto .link{
        padding-bottom: 25px;
    }
    .card .texto p{
        font-size: 1.25rem;
    }
    .card .capa-projeto{
        display: none;
    }
}
@media screen and (max-height:760px){
    header{
        margin-bottom: 3vw;
    }
}
@media screen and (max-width:600px) {
    .header-control{
        padding: 20px 0 !important;
    }
    /* projetos */
    .card{
        width: 90%;
    }
    .link{
        align-items: center;
    }
    .link a{
        font-size: 1.15rem;
    }
    footer div a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 35vw !important;
        font-size: 3.4vw !important;
        padding: 17px 7px !important;
        margin: auto;
    }
}
@media screen and (max-width:1300px){
    .header-control{
        justify-content: space-around;
        padding: 20px 100px;
    }
    .div-icon{
        padding: 10px 30px;
    }
    nav{
        padding: 0 50px;
   }
}
@media screen and (max-width:950px){
    header{
        height: 13vh;    
    }
    main h2{
        font-size: 5vw;
    }

    .card .texto p{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .card .texto h3{
        font-size: 1.2rem;
        margin-bottom: 5px !important;

    }
    .texto .link{
        padding-top: 5px !important;
    }
    footer div h3{
        font-size: 5vw;
    }
    footer div a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 27vw;
        font-size: 2.2vw;
        padding: 17px 15px;
        margin: auto;
    }
}
@media screen and (max-height: 400px) and (orientation: landscape) {
    .header-control{
        padding: 0;
    }
}