@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

.control-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* cabeçalho */

header{
    display: flex;
    padding: 2vh 0;
    /* background-color: red; */
}

.header-control{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
}

.div-icon div{
    width: 30px;
}
#topo{
    outline: none;
}

.div-icon div svg{
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.div-icon h1{
    font-size: 1.6rem;
    font-weight: 700;
    color: #1e30f3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

nav a{
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    transition: .125s ease-in-out;
}

nav a:hover{
    color: rgba(0, 0, 0, 0.7);
}

/* corpo  */

main{
    margin: 20px auto;
    padding: 40px 0 100px 0;
    display: flex;
    gap: 3vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 249, 250);
}

main h2{
    font-size: 3.5rem;
    background: -webkit-linear-gradient(-315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px #383b3f44;;
}

.bloco1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 45%;
}

.bloco1 .desc{
    display: flex;
    /* justify-content: space-between; */
}

.desc h3{
    font-size: 2.5rem;
    color: #1e30f3;
}

.desc a{
    background-color: #1e30f3;
    border: 1px solid #1e30f3;
    color: #fff;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 17px 55px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.desc a:hover{
    border: 1px solid #1826c2;
    background-color: #1a28c4;
}

.conhecimento{
    background-color: #fff;
    box-shadow: 3px 3px 6px 2px #383b3f34;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    padding: 50px 30px;
    border-radius: 12px;
    flex: 1 1 auto;
}

.instituto{
    background-color: rgb(248, 249, 250);
    box-shadow: 2px 2px 6px #383b3f34;
    padding: 20px;
    width: 100%;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 12px;
    text-align: center;
}

.instituto span{
    /* color: #1e30f3; */
    font-weight: bold;
    font-size: 1.025rem;
}
.instituto p{
    font-size: 1.05rem;
    line-height: 1.6rem;
}

.instituto a{
    text-decoration: none;
    color: #646b72;
}

.materia{
    color: #212529;
    font-size: 1.25rem;
    line-height: 1.7rem;
    text-align: justify;
}


/* bloco de skills */

.habilidades{
    background-color: #fff;
    box-shadow: 3px 3px 6px 2px #383b3f34;
    border-radius: 12px;
    width: 45%;
    gap: 25px;
    padding: 30px 55px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title div{
    background: -webkit-linear-gradient(-250deg, #1e30f3 0%, #e21e80 100%);
    padding: 8px 10px;
    border-radius: 7px;
}

.title div svg{
    width: 27px;
    height: 27px;
    fill: #fff;
}

.title h3{
    font-size: 2.5rem;
    font-weight: 600;
    background: -webkit-linear-gradient(-250deg, #1e30f3 0%, #e21e80 100%);;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px #383b3f44;;
}

.soft ul{
    margin: 20px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
}

.soft ul li{
    box-shadow: 2px 2px 6px #383b3f34;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 249, 250);
    color: #212529;
    font-weight: 500;
    width: 180px;
    padding: 15px 60px;
    flex-grow: 1;
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: default;
    /* transition: .115s ease-in-out; */
}
/* botao */
.subir-topo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(350deg, #1e30f3 0%, #e21e80 100%);
    box-shadow: 2px 2px 6px 1px #383b3f34;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    right: 50px;
    bottom: 50px;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    transition: .35s ease-in-out;
}

.subir-topo.active{
    opacity: 1;
    visibility: visible;
}
.subir-topo svg{
    width: 70%;
    fill: #fff;
    font-weight: bold;
}
.subir-topo:hover{
    transform: rotateZ(360deg);
}